<configuration>

<property name="FILE_PATH" value="logs" />

	
	
  <appender name="classicConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
 <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="errorAppender" class="ch.qos.logback.core.FileAppender">
  <file>${FILE_PATH}/error.log</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>
 
  <appender name="infoAppender" class="ch.qos.logback.core.FileAppender">
  <file>${FILE_PATH}/info.log</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>
  
  <appender name="debugAppender" class="ch.qos.logback.core.FileAppender">
  <file>${FILE_PATH}/debug.log</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>
  
  
  
  <root level="INFO">
    <appender-ref ref="classicConsoleAppender"/>
  </root>
  
  <logger name="com.alpha" level="ERROR" additivity="false">
    <appender-ref ref="errorAppender"/>
  </logger>
   <logger name="com.alpha" level="DEBUG" additivity="false">
    <appender-ref ref="debugAppender"/>
  </logger>
  <logger name="com.alpha" level="INFO" additivity="false">
   <appender-ref ref="infoAppender"/>
  </logger>
  
  
</configuration>